* {
    font-family: 'Roboto', 'monospace';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General elements
****************************************************************** */
body {
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.btn {
    text-align: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.btn--green {
    background-color: #2bd14e;
}
.btn--gray {
    background-color: #f3f3f3;
}

.text--blue {
    color: #267cde;
}
.text--blue:hover {
    text-decoration: underline;
}

.text--gray {
    color: #888;
}
.text--center {
    text-align: center;
}

.hidden {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    outline: 1px solid #6ad882;
    box-shadow: #6ad882 1px 0px 1px;
}

.invalid-feedback {
    color: red;
    margin: 5px 3px;
    font-size: 13px;
}

.g-recaptcha {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}

/* auth page
***************************************************************** */
.body {
    display: flex;
}

.body__auth {
    padding: 20px;
    margin: 0 25px;
    width: 750px;
    height: 910px;
    overflow-y: scroll;
}

.auth__container {
    width: 100%;
}

.auth__title {
    margin: 35px 0 8px;
    font-size: 24px;
    font-weight: 500;
}

.auth__sub-title {
    color: #888;
    font-size: 14px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #eee;
    width: 100%;
}

.auth-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    width: 100%;
}

.form__group {
    margin-bottom: 20px;
}

.form__group label {
    font-size: 13px;
    font-weight: bold;
}

.form__group input {
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.forgot-password {
    float: right;
    font-size: 13px;
}

.form__checkbox {
    margin: 40px 0 20px;
    display: flex;
    align-items: center;
}

.form__checkbox label {
    font-size: 13px;
    margin-left: 8px;
}

.btn--auth {
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 11px 25px;
    margin: 8px 0;
}
.btn--auth:hover {
    cursor: pointer;
    background-color: #6ad882;
}

.other-auth {
    padding: 30px 0;
    border-bottom: 1px solid #eee;
}

.other-auth__title {
    overflow: hidden;
    font-size: 13px;
    margin-bottom: 35px;
}
.other-auth__title::before,
.other-auth__title::after {
    background-color: #eee;
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.other-auth__title::before {
    right: 0.5rem;
    margin-left: -50%;
}
.other-auth__title::after {
    left: 0.5rem;
    margin-right: -50%;
}

.other-auth__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.other-auth__button:not(:last-child) {
    margin-right: 2%;
}

.other-auth__button .btn {
    padding: 10px;
    width: 32%;
    font-size: 13px;
    font-weight: 500;
}

.guest-auth {
    padding-top: 25px;
    font-size: 15px;
}

.body__background {
    background-image: url('/public/img/background.png');
    background-repeat: repeat-x;
    background-size: cover;
    background-position: right bottom;
    width: 100%;
    height: 910px;
}

::-webkit-scrollbar {
    display: none;
}

/* ACCOUNT PAGE
***************************************************************************/
.user-view {
    display: flex;
}

/* Left nav */
.user-view__left-menu {
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2520;
    color: gray;
    position: fixed;
    height: 100%;
}

.left-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.left-nav__user-image {
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-nav__user-image img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.left-nav__el {
    display: flex;
    padding: 4px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    cursor: pointer;
    width: 100%;
}
.left-nav__el:hover,
.left-nav__el--active {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
}

.left-nav__el i {
    margin-bottom: 10px;
    font-size: 20px;
}

.left-nav__el .el__label {
    font-size: 12px;
}

.form-logout {
    margin-bottom: 10px;
    cursor: pointer;
    color: gray !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* User information */
.user-view__content {
    width: 80%;
    padding: 0 20px;
    margin-left: 90px;
}

.content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    border-bottom: 2px solid #eee;
}

.header__account {
    display: flex;
    align-items: center;
}

.header__account .info__content {
    font-size: 18px;
    font-weight: 300;
}

.account__info .info__label {
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.header__account i {
    margin-right: 20px;
    font-size: 25px;
}

.btn-edit {
    color: white;
    background-color: #e66419;
    padding: 9px 15px;
    font-size: 15px;
    cursor: pointer;
}

.btn-edit i {
    margin-right: 10px;
    font-size: 14px;
}

.content__detail {
    width: 650px;
    margin: 0 auto;
    padding: 20px;
}

.user-detail {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.user-detail .user-detail__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

#profile-image-upload {
    display: none;
}

.info__name {
    font-size: 26px;
}

.info__job {
    font-size: 16px;
    margin: 8px 0;
}

.info__email,
.info__phone {
    font-size: 14px;
    padding: 3px 0;
    color: #666;
}

.other-info {
    padding: 40px 0 20px;
}

.info__title {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.other-info .info__content {
    padding: 10px 80px 10px 0;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: start;
    border-bottom: 1px #ddd dotted;
}
.other-info .info__content .label {
    width: 30%;
}

.other-info__list {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    background-color: #f8f8f8;
    margin-top: 25px;
    padding: 20px;
    font-weight: 300;
    font-size: 14px;
}

/* Right nav */
.user-view__right-menu {
    flex-grow: 1;
    background-color: #f6f6f6;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    width: 270px;
}

.menu__header {
    padding: 13px 15px;
    height: 74px;
    border-bottom: 2px solid #ddd;
}

.header__title {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 300;
}

.header__content {
    font-size: 14px;
    font-weight: normal;
}

.menu__el:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.menu__el .title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
    padding: 20px 0 0 20px;
}

.right-nav__el i {
    width: 13px;
}

.right-nav__el .el__label {
    margin-left: 20px;
}

.right-nav__el {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;
    font-size: 14px;
    font-weight: 300;
    color: #555;
}
.right-nav__el:hover {
    cursor: pointer;
    color: #e66419 !important;
    background-color: white;
    font-weight: bold;
}

.right-nav__el--active {
    color: #e66419 !important;
    background-color: white;
    font-weight: bold;
}

/* POPUP FORM EDIT ACCOUNT */
.layout {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form-edit {
    width: 40%;
    height: fit-content;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.form-edit .form__group input {
    font-size: 15px;
}

.form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    padding: 15px 20px;
}

.form__close-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    color: gray;
}
.form__close-container:hover {
    background-color: rgb(243, 120, 120);
    cursor: pointer;
    color: white;
}

.form__title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

.form-edit .form__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.form-edit .form__group .form__label-container {
    float: left;
    width: 30%;
}

.form-edit .form__group input {
    float: right;
    width: 70%;
}

.form-edit input {
    margin: 0;
}

.form__content {
    padding: 20px;
    border-bottom: 1px dashed #ddd;
}

.form__label-container {
    width: 200px;
}

.form__label {
    font-weight: bold;
    font-size: 14px;
}

.form__sub-label {
    font-size: 11px;
    color: gray;
}

.form__button {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.form__button .btn {
    width: 48%;
    height: 38px;
    padding: 11px 0;
}

.btn-cancel {
    color: #666;
    background-color: #ddd;
    cursor: pointer;
}

.btn-update {
    background-color: #63b814;
    color: white;
    font-weight: bold;
}
.btn-update:hover {
    background-color: #4d920c;
    cursor: pointer;
}

/* ALERT */
.alert {
    position: fixed;
    max-width: 50%;
    padding: 25px 50px;
    top: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 21px;
    color: white;
    transform: translate(-50%, 0);
    font-weight: 500;
}

.alert--success {
    background-color: #2bd14e;
}
.alert--error {
    background-color: red;
}

.is-invalid {
    border: 1px solid #FF0000 !important;
}

.form__content .form__group .invalid-feedback {
    position: absolute;
    bottom: -20px;
    left: 30%;
}
.form__content .form__group {
    position: relative;
}